### 1 задание

In [1]:
import pickle

In [9]:
class Vehicle(object):
 
    def __init__(self, color, doors, tires):
        self.color = color
        self.doors = doors
        self.tires = tires
    
    def brake(self):
        return "Braking"
    
    def drive(self):
        return "I'm driving!"

In [11]:
car=Vehicle("red",3,2)
with open('MyClassInFile.pickle', 'wb') as f:
    pickle.dump(car, f)

### 2 задание

In [12]:
import shelve
 
with shelve.open("MyFavoriteMovies") as states:
    states["David Yets"] = "Harry Potter"
    states["Quentin Tarantino"] = "Pulp Fiction"
    states["Damien Chazelle"] = "Whiplash"

### 3 задание

In [36]:
sql="""DROP TABLE employees"""
cursor.execute(sql)
conn.commit()

In [37]:
import sqlite3
conn = sqlite3.connect("mydatabase.db")
cursor = conn.cursor()
cursor.execute("CREATE TABLE employees (name, salary$, age)")

In [38]:
albums = [('John Doe', 5000, 35),
          ('Marie Paige', 6000, 25),
          ('Megan Flores', 3000, 29),
          ('Harmony Simmons', 4000, 42)]

cursor.executemany("INSERT INTO employees VALUES (?,?,?)", albums)
conn.commit()

In [39]:
for row in cursor.execute("SELECT rowid, * FROM employees ORDER BY name"):
    print(row)

(4, 'Harmony Simmons', 4000, 42)
(1, 'John Doe', 5000, 35)
(2, 'Marie Paige', 6000, 25)
(3, 'Megan Flores', 3000, 29)

In [40]:
result = cursor.execute('''SELECT name FROM employees WHERE age < 30''').fetchall()
result2=[elem[0] for elem in result]
result3 = cursor.execute('''SELECT salary$ FROM employees WHERE age < 30''').fetchall()
result4=[elem[0]+1000 for elem in result3]

In [43]:
for i in range(len(result2)):
    sql = f"""UPDATE employees SET salary$ = {result4[i]} WHERE name = '{result2[i]}'"""
    cursor.execute(sql)
    conn.commit()

In [44]:
for row in cursor.execute("SELECT rowid, * FROM employees ORDER BY name"):
    print(row)

(4, 'Harmony Simmons', 4000, 42)
(1, 'John Doe', 5000, 35)
(2, 'Marie Paige', 7000, 25)
(3, 'Megan Flores', 4000, 29)

In [46]:
result5 = cursor.execute('''SELECT name FROM employees WHERE age > 40''').fetchall()
result6=[elem[0] for elem in result5]

In [47]:
for i in result6:
    sql = f"DELETE FROM employees WHERE name = '{i}'"
    cursor.execute(sql)
    conn.commit()

In [48]:
for row in cursor.execute("SELECT rowid, * FROM employees ORDER BY name"):
    print(row)

(1, 'John Doe', 5000, 35)
(2, 'Marie Paige', 7000, 25)
(3, 'Megan Flores', 4000, 29)