In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv'

df = pd.read_csv(url)

Задание 1

In [76]:
grouped_df = df.groupby(['Position'])[['Wage','Value']].mean().sort_values(by='Value',ascending=False)

In [37]:
grouped_df.Wage.max()

119000.0

Задание 1.1

In [75]:
groupss=df.groupby('Club')['Wage'].agg(['mean', 'median'])
groupss=groupss[groupss['mean']==groupss['median']]
groupss.count()

mean      52
median    52
dtype: int64

Задание 2

In [77]:
groupss[groupss['mean']==groupss['mean'].max()]

             mean  median
Club
Cruzeiro  13000.0   13000

Задание 3

In [80]:
df[df.Nationality=="Argentina"][df.Age==30].Wage.max()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

300000

Задание 4

In [81]:
df[df.Nationality=="Argentina"][df.Age==30].Wage.min()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

1000

Задание 5

In [99]:
data=df[df.Nationality=="Argentina"][df.Club=="FC Barcelona"][['Strength','Balance']]
print(f"{data.Strength.max()};{data.Balance.max()}")

59;95

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.