1 задание

In [ ]:
with open("tinkoff_hh.json", "r",encoding='utf-8') as read_file:
    data = read_file.readlines()

In [4]:
aa=[]
for i in data[1::2]:
    try:
        aa.append(eval(i))
    except:
        pass

In [7]:
import pandas as pd
df=pd.DataFrame(aa)

In [8]:
def f(st):
    s=st.replace('\xa0','')[2:9]
    for c in list(s):
        if c.isdigit():
            pass
        else:
            s=s.replace(c,'')
    return eval(s)

In [9]:
df1=df[df['income']!='не указан']

In [ ]:
df1['зп']=list(map(f,list(df1.income)))

In [11]:
df1.groupby('vacancy').mean().apply(round) #среднее по каждой вакансии

                                                          зп
vacancy
Cпециалист проверки надёжности клиентов              50000.0
Агент по доставке карт                               51933.0
Агент по доставке продуктов Тинькофф                 33650.0
Агент по доставке продуктов банка                    40000.0
Агент по работе с клиентами                          50000.0
...                                                      ...
Территориальный руководитель по привлечению юри...   80000.0
Торговый представитель в Банк                        51538.0
Торговый представитель в банк                        55000.0
Тренер группы обучения                               55000.0
Тренинг-менеджер                                    100000.0

[161 rows x 1 columns]

In [19]:
prof=input('Введите вакансию: ')
df[df['vacancy']==prof][['vacancy','income']] #все по ввденной вакансии

Введите вакансию: Менеджер по привлечению юридических лиц

                                      vacancy          income
3     Менеджер по привлечению юридических лиц  от 80 000 руб.
4     Менеджер по привлечению юридических лиц  от 80 000 руб.
5     Менеджер по привлечению юридических лиц  от 80 000 руб.
6     Менеджер по привлечению юридических лиц  от 80 000 руб.
7     Менеджер по привлечению юридических лиц  от 80 000 руб.
...                                       ...             ...
1184  Менеджер по привлечению юридических лиц  от 80 000 руб.
1185  Менеджер по привлечению юридических лиц  от 80 000 руб.
1186  Менеджер по привлечению юридических лиц  от 80 000 руб.
1187  Менеджер по привлечению юридических лиц  от 80 000 руб.
1188  Менеджер по привлечению юридических лиц  от 80 000 руб.

[90 rows x 2 columns]

Задание 2

In [34]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data_stat/yandex-stat-q.csv"

df = pd.read_csv(url)
df.head()

,Поисковая фраза,Поисковая система,Визиты,Посетители,Отказы,Глубина просмотра,Время на сайте
0,Итого и средние,NaN,72394,57803,0.120328,1.298934,00:01:18
1,pycode.ru,Яндекс,2068,1225,0.093810,1.674565,00:01:38
2,холопов алексей васильевич,Яндекс,1240,467,0.082258,1.941129,00:03:53
3,золотое правило дидактики,Яндекс,778,751,0.082262,1.087404,00:00:41
4,золотое правило дидактики я.а коменского,Яндекс,743,724,0.068641,1.044415,00:00:31

In [39]:
l=list(df['Поисковая фраза'])

In [57]:
st=''
for c in l:
    st=st+' '+c

In [58]:
def remove(value, deletechars):
    for c in deletechars:
        value = value.replace(c,'')
    return value

In [59]:
st=remove(st, "[.]{}*:;-!/\“”«»,?")

In [60]:
words=st.lower().split()

In [87]:
with open('wjrds.txt','w',encoding='utf-8') as f:
    f.write(st.lower())

In [ ]:
#здесь см.файл processing.py, тк в jupyter это не работало

In [90]:
with open('norm.txt','r',encoding='utf-8') as file:
    wordsn=file.read()

In [93]:
wordsn=wordsn.split()

In [94]:
from collections import Counter

In [98]:
d=dict(Counter(wordsn))

In [103]:
from collections import OrderedDict
d_sorted_by_value = OrderedDict(sorted(d.items(), key=lambda x: x[1],reverse=True))

In [108]:
ds=dict(d_sorted_by_value) # отсортированный словарь встречаемости

In [113]:
list(ds.keys())[:20] # самые часто встречаемые слова

['тезис',
 'в',
 'на',
 'конференция',
 'по',
 'научный',
 'как',
 'работа',
 'и',
 'для',
 'информационный',
 'пример',
 'безопасность',
 'к',
 'правило',
 'практика',
 'золотой',
 'что',
 'доклад',
 'статья']